<h2>
	<i lang="en">Classes:</i>
	<i lang="ru">Классы:</i>
</h2>
<ul class="b-class-list">
	<for each="thisClass" in="data">
		<li>
			<img src="../img/arrow_left.png" height="16" width="16" alt="" />
			{!
				if (thisClass.alias === "_global_") {
					output += "<i>" + new Link().toClass(thisClass.alias) + "</i>";
				} else { output += new Link().toClass(thisClass.alias); }
			!}
		</li>
	</for>
</ul>
<hr />